$colors:(
 bluegreen:#097774,
 white:#FFFFFF,
 gray0:#F3F3F3,
 gray1:#F0F0F0,
 black:#000000,
 gray2:#E8E8E8,
 gray4:#9E9E9E
);
$headerImg:url(../img/sample2.jpg);
$articleImg:(
    first:url(../img/sample-1.jpg),
    second:url(../img/sample-2.jpg)
);
$exploreImg:(
    greece:url(../img/news-list-1.jpg),
    italy:url(../img/news-list-2.jpg),
    usa:url(../img/news-list-3.jpg),
    germany:url(../img/news-list-4.jpg),
);
