$colors:(
    font:rgb(25,26,35),
    mainBackground:#fff,
    sectionFont:rgb(179,182,196),
    sectionFooter:rgb(25,26,35)
);
$logoFont: "Hind", sans-serif;
$articleFont:"Hind", sans-serif;
$headerImg:url(../img/m-h-day.jpg);
$underlineColor:rgb(25,142,186);
$buttonBg:rgb(87,139,2);
$sectionBgGradient:linear-gradient(to right, rgb(86, 138, 6), rgb(33, 63, 212));
