$colors:(
    font:#fff,
    mainBackground:rgb(25,26,35),
    sectionFont:rgb(179,182,196),
    sectionFooter:rgb(45,47,62)
);
$logoFont: "Fresca", sans-serif;
$articleFont:"Fresca", sans-serif;
$headerImg:url(../img/m-h-night.jpg);
$underlineColor:rgb(251,53,40);
$buttonBg:rgb(219,157,8);
$sectionBgGradient:linear-gradient(to right, rgb(218, 156, 9), rgb(125, 26, 65));
